/* Default style for Build-a-PC by Ad Infinitum */

/* Theme:
 * Font: #222, 'Roboto', sans-serif
 * Heading font: #222, 'Roboto Slab', serif
 * Link color: #c00
 * Font size: Default
 * Line height: 125%
 * Primary color: #c00
 * Secondary color: #800
 * Site backhround color: #444
 * Site background image: Repeating 8px*8px #555 grid with #444 background
 * Site header background color: Gradient from #c00 top to #800 bottom
 * Site header font: #fff, 'Roboto Slab', serif
 * Site footer background color: #333
 * Site footer text color: #aaa
 * Site footer link color: #ccc
 * Navbar background color: #444
 * Navbar color: #fff
 * Content background color: #fff
 * Code, figure, etc background color: #ddd
 * Code font: 'Roboto Mono', monospace
 */

/* Generic styles */

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #444;
  background-image: url("../images/background.gif");
  color: #222;
  font-family: 'Roboto', sans-serif;
  line-height: 125%;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  font-family: 'Roboto Slab', serif;
  color: #222;
  text-decoration: none;
  margin: 1em 0 .8em;
}

h1 {
  text-align: center;
  font-size: 1.8em;
}

a {
  color: #c00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  background-color: #aaa;
  height: 2px;
  margin: 30px 0 30px;
  clear: both;
}

img {
  max-width: 100%;
}

header {}

section {
  clear: both;
}

footer {
  font-style: italic;
}

figure {
  display: inline-block;
  background-color: #ddd;
  border: 1px solid #aaa;
  margin: 10px;
}

figcaption {
  text-align: center;
  font-size: .8em;
  margin: 0 5px;
}

ul {
  list-style-type:square;
}

ol > li {
  margin: 10px 0;
}

code {
  /* See .code */
  font-family: 'Roboto Mono', monospace;
  background: #ddd;
  color: #222;
  white-space: pre;
  padding: 0 .3em;
}

.code {
  /* See code */
  font: 0.8em 'Roboto Mono', monospace;
  background: #ddd;
  color: #222;
  border: 1px solid #aaa;
  padding: 5px;
  overflow: hidden;
}

.code > p {
  display: inline;
  white-space: pre-line;
  padding: 0;
  margin: 0;
}

.float-left {
  float: left;
  clear: both;
}

.float-right {
  float: right;
}

.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

/* Specific styles */

.site-container {
  position: relative;
  min-height: 100%;
  width: 100%;
}

.site-header-container {
  background-color: #c00;
  background: linear-gradient(#c00, #800);
  box-shadow: 0 3px 5px #800;
}

.site-header {
  position: relative;
  width: 800px;
  height: 64px;
  padding: 15px 0;
  margin: 0 auto;
  color: #fff;
}

.site-header-logo {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50px;
}

.site-header-title {
  position: absolute;
  display: inline;
  margin: 0;
  top: 15px;
  left: 150px;
  font: 50px 'Roboto Slab', serif;
}

.site-header-title, .site-header-title > a, .site-header-title > a:hover {
  color: #fff;
  text-decoration: none;
}

.site-header-sub-title {
  position: relative;
  display: inline;
  margin: 0;
  top: 35px;
  left: 625px;
  font: 1em 'Roboto Slab', serif;
}

.site-center-container {
  width: 100%;
  height: 100%;
  padding: 0 0 210px; /* footer height */
}

.site-center {
  width: 800px;
  height: 100%;
  background-color: #fff;
  border: 2px solid #333;
  box-shadow: -5px 0 5px #333, 5px 0 5px #333;
  margin: 5px auto 5px;
}

.navbar {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #444;
}

.navbar br {
  display: none;
  width: 0;
  padding: 0;
  margin: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar a {
  display: inline-block;
  width: 160px;
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover, .dropbutton:hover .dropbutton {
  background-color: #c00;
}

.navbar a:before, .navbar a:after {
  color: #888;
  font-weight: bold;
}

.navbar a:before {
  content: "[";
  float: left;
}

.navbar a:after {
  content: "]";
  float: right;
}

.dropdown-content a:before, .dropdown-content a:after {
  content: "";
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 180px; /* Same as top button */
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  display: block;
  padding: 10px 10px;
  color: #222;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #eee;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.breadcrumbs {
  padding: 5px 30px;
  border-bottom: 1px solid #333;
}

.breadcrumbs > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs > ul > li {
  display: inline-block;
}

.breadcrumbs > ul > li:nth-child(1):before {
  content: "";
  margin: 0;
}

.breadcrumbs > ul > li:before {
  content: "\00bb";
  margin: 0 5px;
}

#content {
  padding: 0 30px 20px;
}

.site-footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 210px;
  background-color: #333;
  border-top: 2px solid #222;
  box-shadow: 0 -5px 5px #222;
}

.site-footer {
  position: relative;
  width: 800px;
  height: 100%;
  margin: 0 auto;
  color: #aaa;
}

.site-footer p {
  margin 0;
}

.site-footer a {
  color: #ccc;
}

.site-footer-box {
  position: absolute;
  top: 20px;
  width: 297px;
  height: 150px;
  padding: 0 50px;
  margin: 0;
  border-left: 2px solid #444;
  border-right: 2px solid #444;
}

.site-footer-box:nth-child(1) {
  left: 0;
}

.site-footer-box:nth-child(2) {
  right: 0;
}

.site-footer .copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 5px;
}

/* Media styles */

@media screen and (max-width: 899px) {

  .site-header {
    width: 90vw;
    height: 64px;
    padding: 5px 0;
    text-align: center;
  }

  .site-header-logo {
    position: absolute;
    left: 0;
    top: 5px;
  }

  .site-header-title {
    position: relative;
    display: block;
    top: -10px;
    left: 0;
  }

  .site-header-sub-title {
    position: relative;
    display: block;
    margin-top: -20px;
    top: 0;
    left: 0;
  }

  .site-center-container {
    padding: 0 0 400px; /* footer height */
  }

  .site-center {
    width: 90vw;
  }

  .navbar-group {
    display: block;
  }

  .site-footer-container {
    height: 400px;
  }

  .site-footer {
    width: 90vw;
  }

  .site-footer-box, .site-footer-box:nth-child(1), .site-footer-box:nth-child(2) {
    position: absolute;
    left: 2vw;
    right: 2vw;
    width: auto;
    height: 150px;
    padding: 0 5vw;
    border: 2px solid #444;
  }

  .site-footer-box:nth-child(1) {
    top: 20px;
  }

  .site-footer-box:nth-child(2) {
    top: 190px;
  }
}

@media screen and (max-width: 450px) {
  .site-header-title {
    top: 0;
    left: 20px;
    font-size: 2em;
  }

  .site-header-sub-title {
    margin-top: -5px;
  }
}

@media screen and (min-width: 450px) and (max-width: 849px) {

  .navbar br.two {
    display: block;
  }
}

@media screen and (max-width: 449px) {

  .navbar br {
    display: block;
  }
}
