/*
FILE NAME: site.css
WRITTEN BY: Håvard, Runar, Petter, Thomas
WHEN: 2016 autumn
PORPOSE: Contains all non-default and non-custom styling for the site.
*/

/* Default style for Build-a-PC by Ad Infinitum */

/* Theme:
 * Font: #222, 'Roboto', sans-serif
 * Heading font: #222, 'Roboto Slab', serif
 * Link color: #c00
 * Font size: Default
 * Line height: 125%
 * Primary color: #c00
 * Secondary color: #800
 * Site background color: #444
 * Site background image: Repeating 8px*8px #555 grid with #444 background
 * Site header background color: Gradient from #c00 top to #800 bottom
 * Site header font: #fff, 'Roboto Slab', serif
 * Site footer background color: #333
 * Site footer text color: #aaa
 * Site footer link color: #ccc
 * Navbar background color: #444
 * Navbar color: #fff
 * Content background color: #fff
 * Code, figure, etc background color: #ddd
 * Code font: 'Roboto Mono', monospace
 */

/* Generic styles */

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #444;
  background-image: url("../images/background.gif");
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 125%;
  word-wrap: normal;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  font-family: 'Roboto Slab', serif;
  color: #222;
  text-decoration: none;
  margin: 1em 0 .8em;
  clear: both;
}

h1 {
  text-align: center;
  font-size: 1.8em;
}

a {
  color: #c00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  background-color: #aaa;
  height: 2px;
  margin: 30px;
  clear: both;
}

section hr {
  margin-left: 0;
  margin-right: 0;
}

img {
  max-width: 100%;
}

header {}

section {
  clear: both;
}

footer {
  font-style: italic;
}

figure {
  max-width: calc(100% - 20px);
  border: 1px solid #aaa;
  margin: 10px;
  background-color: #ddd;
}

figure img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-size: .8em;
  margin: 0 5px;
}

ul {
  list-style-type:square;
}

ol > li {
  margin: 10px 0;
}

code {
  /* See .code */
  font-family: 'Roboto Mono', monospace;
  background: #ddd;
  color: #222;
  white-space: pre;
  padding: 0 .3em;
}

.code {
  /* See code */
  font: 0.8em 'Roboto Mono', monospace;
  background: #ddd;
  color: #222;
  border: 1px solid #aaa;
  padding: 5px;
  overflow: hidden;
}

.code > p {
  display: inline;
  white-space: pre-line;
  padding: 0;
  margin: 0;
}

.width-25 {
  width: 25%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

.float-left {
  float: left;
  clear: left;
  margin-left: 0;
}

.float-right {
  float: right;
  clear: right;
  margin-right: 0;
}

.clearfix {
  clear: both;
}

.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

/* Specific styles */

#site-container {
  position: relative;
  min-height: 100%;
  width: 100%;
}

#site-header-container {
  position: relative;
  background-color: #c00;
  background: linear-gradient(#c00, #800);
  box-shadow: 0 3px 5px #800;
}

#site-header {
  position: relative;
  width: 800px;
  height: 64px;
  padding: 15px 0;
  margin: 0 auto;
  color: #fff;
}

#site-header-logo {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50px;
}

#site-header-title {
  position: absolute;
  display: inline;
  margin: 0;
  top: 15px;
  left: 150px;
  font: 3em 'Roboto Slab', serif;
}

#site-header-sub-title {
  position: relative;
  display: inline;
  margin: 0;
  top: 35px;
  left: 625px;
  font: 1.2em 'Roboto Slab', serif;
}

#site-header-title, #site-header-title > a, #site-header-title > a:hover,
#site-header-sub-title, #site-header-sub-title > a, #site-header-sub-title > a:hover {
  color: #fff;
  text-decoration: none;
}

#site-center-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 210px;
}

#site-center {
  position: relative;
  width: 800px;
  height: 100%;
  background-color: #fff;
  border: 2px solid #333;
  box-shadow: -5px 0 5px #333, 5px 0 5px #333;
  margin: 5px auto;
}

#navbar {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: -5px;
  text-align: center;
  background-color: #444;
}

#navbar-show, #navbar-hide {
  display: none;
}

#navbar .top {
  color: #eee;
}

#navbar .top:hover {
  background-color: #c00;
}

#navbar .top:before, #navbar .top:after {
  color: #888;
  font-weight: bold;
}

#navbar .top:before {
  content: "[";
  float: left;
}

#navbar .top:after {
  content: "]";
  float: right;
}

#navbar ul {
  margin: 0;
  padding: 0;
}

#navbar > ul a, .top {
  display: block;
  padding: 5px 10px;
  color: #222;
}

#navbar a:hover {
  background-color: #ddd;
  text-decoration: none;
}

#navbar li {
  position: relative;
  list-style: none;
}

#navbar > ul > li {
  width: 25%;
  height: 100%;
  float: left;
}

#navbar > ul > li > ul a {
  padding: 5px 10px;
}

#navbar > ul > li > ul {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: left;
}

#breadcrumbs {
  display: block;
  visibility: hidden;
  padding: 3px 30px;
  border-bottom: 1px solid #333;
  background-color: #666;
  color: #ccc;
  font-size: .8em;
}

#breadcrumbs a {
  color: #eee;
}

#breadcrumbs > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#breadcrumbs > ul > li {
  display: inline-block;
}

#breadcrumbs > ul > li:before {
  content: "\00bb";
  margin: 0 5px;
}

#breadcrumbs > ul > li:nth-child(1):before {
  content: "";
  margin: 0;
}

#content {
  padding: 0 30px 20px 30px;
}

#prev_next_bar {
  display: none;
  padding: 3px 30px;
  border-top: 1px solid #333;
  background-color: #666;
  color: #ccc;
  font-size: .8em;
}

#prev_next_bar a {
  color: #eee;
}

#prev_link {
  display: none;
  float: left;
}

#next_link {
  display: none;
  float: right;
}

#site-footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 210px;
  background-color: #333;
  border-top: 2px solid #222;
  box-shadow: 0 -5px 5px #222;
}

#site-footer {
  position: relative;
  width: 800px;
  height: 100%;
  margin: 0 auto;
  color: #aaa;
}

#site-footer p {
  margin 0;
}

#site-footer a {
  color: #ccc;
}

.site-footer-box {
  position: absolute;
  top: 20px;
  width: 297px;
  height: 150px;
  padding: 0 50px;
  margin: 0;
  border-left: 2px solid #444;
  border-right: 2px solid #444;
}

.site-footer-box:nth-child(1) {
  left: 0;
}

.site-footer-box:nth-child(2) {
  right: 0;
}

#copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 5px;
}

#search-bar {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border: 1px solid #444;
  background-color: #555;
  color: #eee;
}

.search .dropdownContent {
  display: none;
  box-sizing: border-box;
  width: 100%;
  max-height: 80px;
  overflow: auto;
  border: 1px solid #444;
  background-color: #666;
}

.search .dropdownContent a {
  display: block;
  padding: 0 10px;
  color: #000;
}
.search .show {
  display: block;
}

.quiz p {
  font-weight: bold;
}

.section_link {
  display: block;
  margin: 20px 0;
  padding: 10px 10px 10px 40px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #666;
  color: #eee;
  font: 1.1em 'Roboto Slab', serif;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.section_link:hover {
  background-color: #c00;
  color: #eee;
  text-decoration: none;
}

/* Media styles */

@media screen and (max-width: 899px) {

  body {
    font-size: .8em;
  }

  #site-header {
    width: 90vw;
    height: 64px;
    padding: 5px 0;
    text-align: center;
  }

  #site-header-logo {
    position: absolute;
    left: 0;
    top: 5px;
  }

  #site-header-title {
    position: relative;
    display: block;
    top: 0;
    left: 0;
  }

  #site-header-sub-title {
    position: relative;
    display: block;
    margin-top: -10px;
    top: 0;
    left: 0;
  }

  #site-center-container {
    position: relative;
    padding-bottom: 300px;
  }

  #site-center {
    width: 90vw;
    height: 100%;
  }

  #navbar {
    margin-bottom: 0;
  }

  #navbar > #navbar-show {
    display: block;
  }

  #navbar > ul {
    height: auto;
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    background-color: #555;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  #navbar > ul .top:hover {
    background-color: #800;
  }

  #navbar > ul > li {
    width: 100%;
    float: none;
  }

  #site-footer-container {
    height: 300px;
  }

  #site-footer {
    width: 90vw;
  }

  .site-footer-box, .site-footer-box:nth-child(1), .site-footer-box:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    height: 130px;
    padding: 0 4vw;
    border: 2px solid #444;
  }

  .site-footer-box:nth-child(1) {
    top: 10px;
    border-bottom: 0;
  }

  .site-footer-box:nth-child(2) {
    top: 140px;
    border-top: 0;
  }

  .search {
    max-width: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 449px) {
  #site-header-title {
    margin-top: 5px;
    font-size: 2em;
  }

  #site-header-sub-title {
    margin-top: 0;
    font-size: 1em;
  }

  hr {
    margin: 10px;
  }

  #content, #breadcrumbs, #prev_next_bar {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 299px) {

  #site-header-logo {
    display: none;
  }
}

@media screen and (max-width: 149px) {

  body {
    display: none;
  }
}
